<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Success! Welcome {{user.first_name}}</h1>
        {% if request.session.user_id %}
        <p class='green'>Successfully registered (or logged in)</p>
        {% endif %}
        <a href="/logout"><button>Logout</button></a>
    </div>
</body>
</html>